
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body
{
    background-size : cover;
    background-position: center;
}
canvas{
    border:3px dashed blue;
    border-radius: 15px;
    margin-top: 30px;
}
